*{
    margin: 0;
    padding: 0;
    color:#fff ;
    font-family: Arial, Helvetica, sans-serif;
}


body
{
    background-color: #000;
    
}
/* .overall-container
{
    position: relative;
    
} */

.nav-d1
{
    background-image: url(images/Landing_bg.png);
    height: 710px;
    border-bottom: #222 8px solid;
    
}


nav
{
    /* border: #e50914 solid 2px; */
    padding-top: 2.2rem;
    
    
}
    

.container
{ 
    /* position: relative; */
}

 #netflixlogo
{
    /* fill: #e50914; */
    margin: 0 auto 0 63px;
    height: 36px;
    width: 133px;
   
    
}


#signin-btn
{
    text-decoration: none;
    background-color: #e50914;
    padding: 10px 15px;
    border-radius: 3px;
    float: right;
    margin-right:30px ;




}



/* firt diviion on the landing page */
.Landing-pg-d1
{ 
    margin: 0 6rem;
    background-size: cover;
    text-align: center;
  padding-top: 160px;
}

.Landing-pg-d1 h1
{
    font-size: 3rem;

}
.Landing-pg-d1 h2
{
font-size: 1.8rem;
font-weight: 500;
margin: 30px 0;
}
.Landing-pg-d1 h3
{
font-size: 1.2rem;
font-weight: 500;
margin: 10px 0 25px;
}






/*second division on th landing page*/
.Landing-pg-d2
{
    border-bottom: #222 8px solid; 
    margin: 0 6rem;
    display: flex;
    width: 90%;
    height: 350px;
    padding: 30px 20px;
    
}

.Landing-pg-d2 h1
{
    font-size: 3rem;
}
.Landing-pg-d2 h2
{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 30px 0;
}
.left-side
{
    
}







/*third division on the landing page*/
.Landing-pg-d3
{
    margin: 0 6rem;
    /* display: flex; */
    width: 90%;
    height: 350px;
    padding: 30px 20px;
    border-bottom: #222 8px solid; 
    
}

.Landing-pg-d3 h1
{
    font-size: 3rem;
}
.Landing-pg-d3 h2
{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 30px 0;
}
.right-side
{

}







/*fourth division on the landing page*/
.Landing-pg-d4
{
margin: 0 6rem;
border-bottom: #222 8px solid; 

}

.Landing-pg-d4 h1
{
    font-size: 3rem;
}
.Landing-pg-d4 h2
{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 30px 0;
}
.left-side2
{

}









/*fifth division on the landing page*/
.Landing-pg-d5
{
    border-bottom: #222 8px solid; 
    margin: 0 6rem;

}

.Landing-pg-d5 h1
{
    font-size: 3rem;
}
.Landing-pg-d5 h2
{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 30px 0;
}
.right-side2
{

}





/*FAQ section*/

#faq {
    width: 100%;
    background-color: #000000;
    margin-top: 8px;
    padding: 50px 0;

}
    #faq h1 {
        color: white;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        padding-bottom: 30px;
    }
    .faqlist {
        width: 50%;
        background-color: #303030;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        margin-left: 25%;
        /*margin-right: 21%;*/
    }
        .faqlist p {
            color: #ffffff;
            font-size: 26px;
            font-weight: 400;
            padding: 20px;
        }
        .faqlist img {
            width: 20px;
            height: 20px;
            padding: 25px;
        }

        #faq h3 {
            width: 686px;
            height: 24px;
            color: #ffffff;
            font-weight: 500;
            font-size: 19px;
            line-height: 24px;
            letter-spacing: 0.005em;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
footer {
    width: 100%;
    background: #000000;
    margin-top: 8px;
}
    footer h4 {
        color: #757575;
        padding: 50px 0 30px 11%;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    #list {
        display: flex;
        justify-content: space-evenly;
    }
    #list ul {
        padding: 20px 0;
    }
    #list ul li {
        color: #757575;
        font-size: 13px;
        font-weight: 400;
        line-height: 17px;
        list-style-type: none;
        padding-bottom: 15px;
    }

    #englishfooter {
        width: 84px;
        height: 20px;
        background: #000000;
        color: #ffffff;
        font-size: 16px;
        padding: 7px 30px;
        margin: 10px 36px 0px 11%;
        text-align: center;
        text-decoration: none;
        border: 1px solid #ffffff;
        border-radius: 3px;
    }
    
    footer p {
        color: #757575;
        font-size: 13px;
        font-weight: 400;
        line-height: 17px;
        padding-bottom: 15px;
        padding-left: 11%;
        padding-top: 20px;
    }

    #input {
        margin: 19px auto;
        width: 747px;
        height: 70px;
    }
        input[type='email'] {
            width: 500px;
            height: 100%;
            background-color: #ffffff;
            color: #000000;
            font-size: 30px;
            font-weight: 400;
            line-height: 35px;
            letter-spacing: 0.1px;
            border: 0px;
            float: left;
        }
        input[type='submit'] {
            width: 247px;
            height: 70px;
            background-color: #E50914;
            color: #ffffff;
            font-size: 30px;
            font-weight: 400;
            line-height: 38px;
            letter-spacing: 0.1px;
            text-align: center;
            float: left;
            border: 0px;
        }