*{
    margin: 0;
    padding: 0;
    color:#fff ;
    font-family: Arial, Helvetica, sans-serif;
}


body
{
    background-color: #000;
    
}
/* .overall-container
{
    position: relative;
    
} */

.nav-d1
{
    background-image: url(images/Landing_bg.png);
    height: 710px;
    
    
}


nav
{
    /* border: #e50914 solid 2px; */
    padding-top: 2.2rem;
    
    
}
    

.container
{ 
    position: relative;
}

 #netflixlogo
{
    /* fill: #e50914; */
    margin: 0 auto 0 63px;
    height: 36px;
    width: 133px;
   
    
}


#signin-btn
{
    text-decoration: none;
    background-color: #e50914;
    padding: 10px 15px;
    border-radius: 3px;
    float: right;
    margin-right: ;
    


}



/*firt diviion on the landing page*/
.Landing-pg-d1
{ 
    margin: 0 6rem;
    border-bottom: solid #222 8px;
    background-size: cover;
    text-align: center;
  padding-top: 160px;
}

.Landing-pg-d1 h1
{
    font-size: 3rem;

}
.Landing-pg-d1 h2
{
font-size: 1.8rem;
font-weight: 500;
margin: 30px 0;
}
.Landing-pg-d1 h3
{
font-size: 1.2rem;
font-weight: 500;
margin: 10px 0 250px;
}






/*second division on th landing page*/
.Landing-pg-d2
{
    border-bottom: #222 8px solid; 
    margin: 0 6rem;
    display: flex;
    width: 90%;
    height: 350px;
    padding: 30px 20px;
    
}

.Landing-pg-d2 h1
{
    font-size: 3rem;
}
.Landing-pg-d2 h2
{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 30px 0;
}
.left-side
{
    
}







/*third division on the landing page*/
.Landing-pg-d3
{
    margin: 0 6rem;
    /* display: flex; */
    width: 90%;
    height: 350px;
    padding: 30px 20px;
    border-bottom: #222 8px solid; 
    
}

.Landing-pg-d3 h1
{
    font-size: 3rem;
}
.Landing-pg-d3 h2
{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 30px 0;
}
.right-side
{

}







/*fourth division on the landing page*/
.Landing-pg-d4
{
margin: 0 6rem;
border-bottom: #222 8px solid; 

}

.Landing-pg-d4 h1
{
    font-size: 3rem;
}
.Landing-pg-d4 h2
{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 30px 0;
}
.left-side2
{

}









/*fifth division on the landing page*/
.Landing-pg-d5
{
    border-bottom: #222 8px solid; 
    margin: 0 6rem;

}

.Landing-pg-d5 h1
{
    font-size: 3rem;
}
.Landing-pg-d5 h2
{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 30px 0;
}
.right-side2
{

}





/*FAQ section*/

.faq
{
margin: 0 6rem;

}
